﻿
<div class="row">
    <div class="col-lg-12">
        <h2> Test Geocoder Ajax calls</h2>
        <p>This page executes an xhr call to the azgeo gis geocoder endpoint. Just add a token to the index.js and run it.</p>
       
    </div>
    <div class="col-lg-12">
        <h3> Response off Geocoder Service </h3>
        <div class="xhrRawOutput">

        </div>
    </div>
    <div class="col-lg-12">
        <h3> Error Response off Geocoder Service </h3>
        <div class="xhrErrorOutput">

        </div>

    </div>

    
</div>



